name: "Terraform Apply"

on:
  push:
    branches:
      - main

env:
  TF_ACTIONS_WORKING_DIR: "./stack"

permissions:
  pull-requests: write

jobs:
  terraform:
    defaults:
      run:
        working-directory: ${{ env.TF_ACTIONS_WORKING_DIR }}
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    permissions: # granular permissions
      # so GitHub can check out this repo using the default github.token
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - name: "Configure AWS credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID}}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: "Get AWS Account ID and configure backend"
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          BUCKET_NAME="fryrank-app-terraform-state-${ACCOUNT_ID}"
          echo "Using bucket: $BUCKET_NAME"
          echo "bucket=\"$BUCKET_NAME\"" >> backend.hcl

      - name: "Terraform Init"
        run: "terraform init -backend-config=backend.hcl"

      - name: "Terraform Apply"
        run: "terraform apply -auto-approve -input=false"
